body{
    margin: 0;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }


.units label{
    margin-right: 1em !important;
}
.list td{
      padding: 0.2em 1em !important;
    
  }